# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.Rhistory
.settings/

# Ignorando altaração na pastas de exportação

4_export/2_resumo/**
4_export/3_shape/**
4_export/4_interp/**
4_export/5_sonda/**
4_export/6_clima/**
4_export/7_mark/**


# thumbs de imagens tiff
Thumbs.db

# Executables
*.swf
*.air
*.ipa
*.apk
*.html

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
.Rproj.user

# Garantindo os arquivos de 1_data
!1_data/**

# Garantindo dash
!5_mrkdwn/dash.html