# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.Rhistory
.settings/

# Ignorando altaração na pastas de exportação
4_export/**

# Garantindo os arquivos de 1_data
\!1_data/**

# thumbs de imagens tiff
Thumbs.db

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
.Rproj.user

